[submodule "llama-cpp-turboquant"]
	path = llama-cpp-turboquant
	url = https://github.com/TheTom/llama-cpp-turboquant.git

[submodule "beellama"]
	path = beellama
	url = https://github.com/Anbeeld/beellama.cpp.git
